div {
    margin: 10px 0;
    background: #f4a261;
    width: 200; 
    height: 150px; 
    display: inline;
}

span {
    background: #26887d;
    color: white;
    width: 150px;
    height: 150px;
    display: inline-block;
}

article {
    background: #26887d;
    color: white;
    width: 150px;
    height: 150px;
    display: block;
}