body {
width: 760px;
}

h1 {
    border: 1px solid #7f1616;
}


p {
width: 230px;
float: left;
margin: 5px;
padding: 5px;
background-color: #efefef;
}

div {
    border: 1px solid #333333;
    /* overflow: auto; */
}
/* .clear {
    clear: left;
} */