* {
    padding: 0;
    border: 0 solid rgb(139, 139, 236);
    margin: 0;
}

.one {
    background-color: lightgray;
    width: 300px;
    height: 100px;
    padding: 25px;
    border: 5px solid rgb(139, 139, 236);
    margin: 20px;
    box-sizing: content-box; 
}

.two {
    background-color: lightgray;
    width: 300px;
    height: 200px;
    padding: 25px;
    border: 5px solid rgb(139, 139, 236);
    margin: 20px;
    box-sizing: border-box; 
}

